h1, h2, h3, h4, h5, .nav-item {
  font-family: "Stick", serif !important;
  font-weight: 400;
  font-style: normal;
}

h1:first-child {
  margin-top: 1rem
}

h1:not(:first-child) {
  margin-top: 4rem
}

h2:not(:first-child) {
  margin-top: 3rem
}

h3 {
  margin-top: 2rem
}

h4 {
  margin-top: 2rem
}