---
---
$baseurl: "{{ site.baseurl }}";

.title-background {
  background-image: url('#{$baseurl}/assets/img/title/background_title.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 4 / 3;
}

.logo-fit {
  padding: 20px;
  width: 50%;
  height: auto;
}