---
---
$baseurl: "{{ site.baseurl }}";

.title-background {
  background-image: url('#{$baseurl}/assets/img/title/background_title.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 4 / 3;
}

.logo-fit {
  padding: 20px;
  width: 50%;
  height: auto;
}

.link-button {
  margin: 12px;
  padding: 0px;
  width: 100px;
  height: 100px;
  align-content: center;
}

.link-icon {
  width: 48px;
  height: 48px;
  font-size: 48px;
}